<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.medabinfinal">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Medabin"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".medicinePlanner.plannerActivity">
            android:screenOrientation="portrait"
        </activity>
        <activity android:name=".medicinePlanner.editMedicineMediplanner" >
            android:screenOrientation="portrait"
        </activity>
        <activity android:name=".medicinePlanner.viewMedicineMediplanner" >
            android:screenOrientation="portrait"
        </activity>
        <activity android:name=".medicinePlanner.deleteMedicineMediplanner" >
            android:screenOrientation="portrait"
        </activity>
        <activity android:name=".medicinePlanner.addMedicineMediplanner" >
            android:screenOrientation="portrait"
        </activity>
        <activity android:name=".medicinePlanner.MedicineMenu" >
            android:screenOrientation="portrait"
        </activity>
        <activity android:name=".medicinePlanner.medicinePlannerMenu" >
            android:screenOrientation="portrait"
        </activity>
        <activity android:name=".medicinePlanner.medicinePlannerDashboard" >
            android:screenOrientation="portrait"
        </activity>
        <activity android:name=".drawer.general" >
            android:screenOrientation="portrait"
        </activity>
        <activity android:name=".drawer.profileDetails" >
            android:screenOrientation="portrait"
        </activity>
        <activity android:name=".loginRegister.SignUp" >
            android:screenOrientation="portrait"
        </activity>
        <activity android:name=".loginRegister.Login" >
            android:screenOrientation="portrait"
        </activity>
        <activity android:name=".splashScreen.SplashScreenMedabin" >
            android:screenOrientation="portrait"
        </activity>
        <activity android:name=".dashboard.UserDashboard" >
            android:screenOrientation="portrait"
        </activity>
        <activity android:name=".walkthrough.OnBoarding" >
            android:screenOrientation="portrait"
        </activity>
        <activity android:name=".splashScreen.SplashScreen">
            android:screenOrientation="portrait"
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>